.main-content
  background: url(./assets/img/17.jpg) no-repeat
  background-position: top;

.advantages-screen
  // background: url(./assets/img/advantages.png) repeat-x
  // background-size: cover
  // background-position: top;
  height 1000px
  position relative
  img
    max-width 100%

.advantages-content
  position relative
  width 100%

.adv-block
  width 300px
  color: #fff
  position: absolute
  text-align: right
  p
    margin 0
    margin-bottom 5px
    font-family Montserrat
    font-size 18px
    padding 0
  span
    font-family Montserrat
    line-height 24px

.adv1
  top 70px
  left -70px
