.map-screen
  background: url(./assets/img/map.jpg) repeat-x 100% 0 
  height: 900px;
  // animation: space 100s linear infinite
  color #fff
  padding-top 350px
  @media(max-width 800px)
    height 500px
    padding-top 150px
  p.underhead
    width 60%
    text-align center
    line-height 48px
    @media(max-width 800px)
      line-height 26px
      width auto