.map-screen
  background: url(./assets/img/map.jpg) repeat-x 100% 0 
  height: 900px;
  text-align center
  // animation: space 100s linear infinite
  color #fff
  padding-top 100px
  img
    max-width 50%
  @media(max-width 800px)
    height 500px
    padding-top 50px
  p.underhead
    width 60%
    text-align center
    line-height 48px
    margin-top 50px
    @media(max-width 800px)
      line-height 26px
      width auto