header
  background: #b41696;
  background-image: linear-gradient(273deg, #ff346c, #4a004c);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
  z-index: 1000;
  .header-flex
    display flex
    justify-content space-between
    align-items: center
    flex-wrap wrap
    width 100%
    min-height 100px

.logo
  width 10%
.info
  width 50%
.auth
  width 22%
  color #fff
  font-weight 300
  display flex
  justify-content space-between
  align-items center
  flex-wrap wrap
  .block-btn
    border 1px solid #ffffff
    padding 5px 15px
    color #fff
    font-weight 100
    background none
    height 30px
    font-size 12px
    &:hover
      background #ffffff
      color #c12361

.info-access 
  display: inline-block;
  position: relative;
  background: #E83D1A;
  padding: 10px 10px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight 100
  &:after
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(255,255,255,.15);
    margin: -5px 0 0;
    border-right-color: #E83D1A;

.info-btn
  transition: .15s ease-in-out;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 7px 12px;
  font-size 14px
  margin-left 20px
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration none
  color #fff
  &:hover
    background #fff
    color #4a004c

.headline
  margin 0
  padding 0
  color #fff
  font-size 24px
  font-weight 100
  margin-top 20px

.add-account
  .add-account-flex
    display flex
    width 100%
    flex-wrap wrap
    justify-content space-between
    align-items: center
    input, button
      width 32%
    input
      border 1px solid #c12361
      color #c12361
      border-radius 5px
      outline none
      padding 10px 20px
      &:focus
        box-shadow: 0 0 10px 0 #ff77ac;
.block-btn
  border 2px solid #c12361 
  outline none 
  border-radius 5px
  color #c12361
  padding 10px 20px
  font-weight 400
  cursor pointer
  &:hover
    background #c12361
    color #fff

.my-accounts
  .my-accounts-flex
    display flex
    width 100%
    flex-wrap wrap
    justify-content space-between
    align-items: center
    color #505050
    font-weight 100
    font-size 16px
    margin-bottom 10px
    &:last-child
      margin-bottom 0
    .account-name
      width 15%
    .account-state
      width 20%
      color #6dd455
      font-weight 400
      text-align center
    .wrong-pass
      color #fd3b3b
    .account-subscribe
      width 20%
      text-align center
    .account-subscribers
      width 20%
      text-align center
    .block-btn
      width 10%
      font-size 10px
      padding 8px 0px
      border: 1px solid #c12361;