.vacancies-page
  padding-top 100px
  color #fff
  padding-bottom 50px
  .vacanvies-page-content
    width 80%
  h1
    font-size 48px
    font-weight 400
    font-family Montserrat
    margin-bottom 50px
    margin-top 0
    @media(max-width 800px)
      font-size 28px
      margin-bottom 40px
  .vacancies-page-text
    font-weight 100
    font-size 18px
    line-height 26px
    font-family Montserrat
    margin-bottom 50px
    @media(max-width 800px)
      font-size 14px
      line-height 22px
  .vacancies-page-sub-head
    font-weight 400
    font-size 22px
    line-height 28px
    font-family Montserrat
    margin-bottom 10px
    @media(max-width 800px)
      font-size 14px
      line-height 22px
  ul
    margin 0
    padding 0
    margin-top 10px
    margin-bottom 50px
    li
      margin 0
      padding 0
      font-weight 100
      font-size 16px
      line-height 26px
      font-family Montserrat
  a
    color #fff
  a.send-message
    width 50%
    display block
    background #8f44ae
    color #fff
    padding 20px
    font-size 24px
    font-weight 100
    cursor pointer
    text-decoration none
    text-align center
    @media(max-width 800px)
      width 90%
    &:hover
      background #57216d
    &:active
      background #340946