@import '../../../node_modules/normalize-styl/normalize.styl'
@import 'fonts'
@import 'components/pages/404'
@import 'components/screens/hero'
@import 'components/elements/header'
@import 'components/screens/advantages'
@import 'components/screens/proccess'
@import 'components/screens/map'
@import 'components/screens/contacts'
@import 'components/pages/vacanties'
@import 'components/pages/vacantiesItem'

*
  box-sizing border-box

html
  height 100%
  font-family Roboto
  font-weight: 400

body
  overflow-x hidden
  background: url(./assets/img/17.jpg) no-repeat
  background-position: top;
  background-size: cover

#app
  height 100%

.content-wrapper
  min-height: calc(100vh - 80px);

.space_bg
  background: url(./assets/img/bg_space.jpg) repeat-x 100% 0 fixed
  background-position: top;
  background-size cover
  animation: space-vac 50s linear infinite

.container
  margin 0 auto
  width 960px
  @media(max-width 960px)
    width 100%

.slide-fade-enter-active 
  transition: all .5s ease;

.slide-fade-leave-active 
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);

.slide-fade-enter, .slide-fade-leave-to
  transform: translateX(10px);
  opacity: 0;
  

.arrow-back
  cursor pointer
  width 20px
  position absolute
  top -30px
  left -60px
